<h1>CC LoadTracker</h1>
<p>
  Batches
</p>
<p>
  Loads
</p>
<p>
  <%= link_to 'Bullets', controller: 'bullets' %>
</p>
<p>
  <%= link_to 'Primers', controller: 'primers' %>
</p>  
<p>
  <%= link_to 'Powders', controller: 'powders' %>
</p>
<p>
  <%= link_to 'Brass', controller: 'brasses' %>
</p>
<p>
  <%= link_to 'Presses', controller: 'presses' %>
</p>